<div class="card">
  <div class="card-body">
    <div *ngIf="(messageService.messageThread$ | async)?.length ===0">
      No message yet.... say Hi by using the message box below!
    </div>
  </div>
</div>

<ul
  #scrollME
  style="overflow: scroll; height: 500px;"
  [scrollTop]="scrollME.scrollHeight"
  *ngIf="(messageService.messageThread$ | async)!.length > 0"
  class="chat"
>
  <li *ngFor="let message of (messageService.messageThread$ | async)">
    <div [ngClass]="{'sent-message': message.senderUserName === username, 'received-message': message.senderUserName !== username}">
      <span class="chat-img" [ngClass]="{'float-end': message.senderUserName === username, 'float-start': message.senderUserName !== username}">
        <img class="rounder-circle" src="{{ message.senderPhotoUrl || 'assets/user.png' }}" />
      </span>

      <div class="chat-body">
        <div class="header">
          <small class="text-muted">
            <span class="fa fa-clock-o">{{ message.messagesSent | timeago }}</span>
            <span class="text-danger" *ngIf="!message.dateRead && message.senderUserName !== username">Unread</span>
            <span class="text-success" *ngIf="message.dateRead && message.senderUserName !== username">Read {{ message.dateRead | timeago }}</span>
          </small>
        </div>

        <p class="msgcontent">{{ message.content }}</p>
      </div>
    </div>
  </li>
</ul>



<div class="card-footer">
  <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
    <div class="input-group">
      <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm"
        placeholder="Send a private message" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid">Send</button>
      </div>
    </div>
  </form>
</div>